---
title: JShamsul.com - Read List
---

  <!-- Title container start -->
  <div class="content-panel greetings-container">
    <div class="page-container">
      <div class=title>Read List</div>
    </div>
  </div>
  <!-- Title container end -->

  <!-- Reading list page container start -->
  <div class="content-panel">
    <div class="page-container">
      <div class="content">

        <div class="read-list-intro">
          <p>I am keeping a list of all the book that I've read in this list,
          which with lack of any creativity sense, I'm calling it
          "Read List".</p>
        </div>

        <table class="book-index-table">
          <tbody>

            <tr>
              <td class="left-column book-read-date-column">May 2019</td>
              <td class="right_column book-details-column">
                <div class="book-container">
                  <div class="book-title">
                    <span class="main-title">Islamic Renaissance</span>
                    <span class="sub-title"> - The real task ahead</span>
                  </div>
                  <div class="book-author">by Dr. Israr Ahmad</div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="left-column book-read-date-column">Feb 2019</td>
              <td class="right_column book-details-column">
                <div class="book-container">
                  <div class="book-title">
                    <span class="main-title">The Will to Keep Winning</span>
                  </div>
                  <div class="book-author">by Daigo Umehara</div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="left-column book-read-date-column">Jan 2019</td>
              <td class="right_column book-details-column">
                <div class="book-container">
                  <div class="book-title">
                    <span class="main-title">The Phoenix Project</span>
                    <span class="sub-title"> - A novel about IT, DevOps, and
                    helping your business win</span>
                  </div>
                  <div class="book-author">by Gene Kim, Kevin Behr, George Spafford</div>
                </div>
              </td>
            </tr>


          </tbody>
        </table>

      </div>
    </div>
  </div>
  <!-- Reading list page container end -->
